name: spring-reactive-boot-data-couchbase

on:
  push:
    paths:
      - "boot-data-couchbase/**"
    branches: [ master ]
  pull_request:
    paths:
      - "boot-data-couchbase/**"
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
          fetch-depth: 0
    - name: Set up JDK
      uses: actions/setup-java@v2.3.1
      with:
        java-version: '17'
        distribution: 'adopt'
        cache: 'maven'
    - name: Build with Maven
      # 
      run: |
        cd boot-data-couchbase
        mvn -q clean test -Dtest=PostRepositoryWithDynamicPropertiesTest
        docker rm $(docker ps -aq) -f
        mvn -q clean test -Dtest=PostRepositoryTest
